@{
    ViewData["Title"] = "Index";
}
<h2>Author List</h2>
<p>
    <a class="btn btn-success" asp-action="Create" data-toggle="tooltip" title="Create"><i class="fa fa-plus"></i> Add Author</a>
</p>

<table class="table table-striped table-hover" id="authorsTable" width="100%" cellspacing="0"></table>

@section scripts{
    <script src="~/js/dist/Features/Author/index.js"></script>
}
