<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookLibrary.aspnetcore</title>

    <environment include="Development">
        <link href="~/css/dist/styles.vendor.css" rel="stylesheet" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
   </environment>
    <environment exclude="Development">
        <link href="~/css/dist/styles.vendor.css" rel="stylesheet" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">BookLibrary.aspnetcore</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a asp-area="" asp-controller="Books" asp-action="Index">Books</a></li>
                    <li><a asp-area="" asp-controller="Authors" asp-action="Index">Authors</a></li>
                    <li><a asp-area="" asp-controller="Publishers" asp-action="Index">Publishers</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <div id="main" class="container body-content">
        @RenderBody()
        <hr />
        <a href="#0" class="cd-top">Top</a>
        <footer>
            <p>&copy; 2017 - BookLibrary.aspnetcore</p>
        </footer>
    </div>
    <environment include="Development">
        <script src="~/js/dist/scripts.vendor.js" asp-append-version="true"></script>
        <script src="~/js/dist/scripts.app.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/dist/scripts.vendor.min.js" asp-append-version="true"></script>
        <script src="~/js/dist/scripts.app.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
