@{
    ViewData["Title"] = "Index";
}
<h2>Book List</h2>
<p>
    <a class="btn btn-success" asp-action="Create" data-toggle="tooltip" title="Create"><i class="fa fa-plus"></i> Add Book</a>
</p>

<table class="dataTable display compact hover" id="booksTable" width="100%" cellspacing="0">
</table>

@section scripts{
    <script src="~/js/dist/Features/Book/index.js"></script>
}
